.footerHolder {
    background-image: url("/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 91px;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.footerHolder p {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding-bottom: 20px;
}

/* Контейнер и иконки */
.footerContact {
    padding: 50px 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* позволяет иконкам переноситься на новую строку */
}

.footerContact img {
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
}

.footerContact img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.footerBtn {
    background: none;
    border: none;
}

/* --------- АДАПТИВ --------- */

@media (max-width: 768px) {
    .footerHolder p {
        font-size: 24px;
    }

    .footerContact {
        gap: 20px;
        padding: 40px 15px;
    }

    .footerContact img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .footerHolder p {
        font-size: 16px;
    }

    .footerContact {
        gap: 15px;
        padding: 30px 10px;
    }

    .footerContact img {
        width: 35px;
        height: 35px;
    }
}
